body {
    padding-top: 40px;
}

table {
    word-break: break-word;
}

.ui.header {
    width: 100%;
}

.item span.text {
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.segments.compact {
    margin: 0;
}

.options .icon.option {
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.options .icon.option:hover {
    background-color: #c2c2c22c;
    border: 1px solid #a7a7a7;
}

.options .dark .icon.option:hover {
    background-color: #f3f3f318;
    border: 1px solid #a7a7a7;
}

.options .icon.option.selected {
    border: 1px solid #a7a7a7;
}

.options .dark {
    background-color: #353535;
}

#icon-options > div {
    padding: 4px 8px;
    border-radius: 5px;
}

.clear {
    opacity: 0;
}

#content {
    /* Add empty space at the bottom of the page to allow users to scroll
       content at the bottom of the page higher up the screen */
    padding-bottom: 100vh;
    transition: opacity 0.3s;
}

#content > div:not(:first-child) {
    /* Have to use !important to override fomantic UI */
    margin-top: 16px !important;
}

#content > .padded {
    padding: 1.5em 3em;
}

.ui.checkbox.flex {
    display: flex;
}

.flex {
    display: flex;
}

.flex.align-items-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
    gap: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}
